<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /denah/
    RewriteRule ^app/ - [F,L]
    RewriteCond %{DOCUMENT_ROOT}/denah/public/$1 -f
    RewriteRule ^(.*)$ public/$1 [L]
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>