<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /denah/

    # larang akses folder app
    RewriteRule ^app/ - [F,L]

    # redirect root denah ke front controller public
    RewriteRule ^$ public/index.php [QSA,L]

    # selebihnya oper ke public index php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/index.php [QSA,L]
</IfModule>